<app-header (formValue)="onAddNewUser($event)"/>
<main>
  <section class="main_sec">
    <div class="users_div_holder">
      @for( user of allusers(); track user.userid){
      <app-users [user]="user" (select)="getSelectedUser($event)" />

      }
    </div>
    @if(!selectedUser){
    <p class="default_user">select a user to display user's task!!</p>
    }@else {
    <app-tasks [name]="selectedUser.username" [userId]="selectedUser.userid" (removeuser)="onRemoveUser()" />
    }
  </section>
</main>
