<app-header/>
<main>
    <section class="main_sec">
     <div class="users_div_holder">
        @for( user of dummyUsers; track user.userId){
        <app-users [img]="'assets/'+user.userImg" [user]="user" (select)="onSelectedUser($event)"/>
           
        }
     </div>
     @if(!selectedUser){
    <p class="default_user">select a user to display user's task!!</p>
     }@else {
        <app-tasks [img]="selectedUserImagePath" [name]="selectedUser.userName" [userId]="selectedUser.userId" (remove)="removeSelectedUser($event)" />
     }

    </section>
</main>
